body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-text {
  border: 1px solid #000000;
  line-height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  width: 97.3%;
}

.link-details {
  border: 1px solid #000000;
  margin-bottom: 10px;
  width: 100%;
}

.comment-details {
  border: 1px solid #000000;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
}

.comment-details .left {
  text-align: center;
  border-right: 1px solid #000000;
  padding: 10px;
  width: 5%;
}

.comment-details .right {
  padding: 10px;
}

.link-details .left {
  text-align: center;
  border-right: 1px solid #000000;
  padding: 10px;
  width: 5%;
}

.link-details .right {
  padding: 10px;
}

.link-details .right .title {
  margin: 0px;
}

.link-details .right .comment-count {
  margin-top: 15px;
  font-size: 12px;
}

.link-details .right .url {
  color: #7c7c7c;
}

.container {
  max-width: 80%;
  margin: auto;
}

.list-view {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list-view li {
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.top-navbar {
  border-bottom: 1px solid #000000;
  padding-top: 15px;
  min-height: 50px;
  margin-bottom: 30px;
}

.btn {
  border: 1px solid #000000;
  padding:5px;
  margin-right: 5px;
  background-color: #c2c2c2;
  text-transform: uppercase;
}

.top-navbar a {
  padding:5px;
  margin-right: 5px;
}

.top-navbar .right {
  float: right;
  width: 100px;
  text-align: center;
}

.top-navbar .left {
  float: left;
}

.error-msg {
  background-color: rgb(255, 177, 177);
  border: 1px solid red;
  color: red;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.success-msg {
  background-color: rgb(193, 255, 193);
  border: 1px solid green;
  color: green;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.login-container {
  max-width: 50%;
  margin: auto;
  border: 1px solid #000000;
  padding: 20px;
  text-align: center;
}

.vote-btn {
  font-weight: 800;
  font-size: 30px;
}

.comment-text {
  font-size: 18px;
}

.footer {
  width: 100%;
  background-color: #717375;
  margin: 40px 0 0 0;
  padding: 20px 0 20px 0;
}

.footer-body {
  min-height: 100px;
  width: 1000px;
  margin: 0 auto;
}

.img {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
